 
  /* @media only screen and (min-width:1008px){

}
    @media only screen and (min-width:641px) and (max-width:1007px){

}
    @media only screen and (max-width:480px){
        body{
           display: flex;
           flex-direction: column;           
           max-width: 100%;
           
           
        }
        .container{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            
        }
        
        
} */

       
.container{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.nav-div h1{
    font-family: SF Pro Display;
font-size: 30px;
font-style: normal;
font-weight: 700;
color: #222222;
}
/* .nav-div-h1{
    display: flex;
width: 202px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
} */
.h1-pe{
    color: #2886EB;
}
.nav-div{
    display: flex;
height: 110px;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.nav-div a{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
text-decoration: none;
color: #222222;
}
/* .nav-div a::after{
    content: '';
    position: absolute;
    width: 100%;
    left:0px;
    bottom: -6px;
    height: 3px;
    border-radius: 5px;
    background-color: #2886EB;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}
.nav-div a:hover:after{
    transform: scaleX(1);
} */
.nav-div-h1{
    margin-right: 225px;
}
.nav-div button{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
border-radius: 10px;
background:  #2886EB;
color: #fff;
padding: 10px 32px;
border-color: #fff;
align-items: center;
display: flex;
justify-content: center;
gap: 10px;
flex-direction: column;
cursor: pointer;
margin-left: 40px;
}
.h1-div-img{
    font-family: 'SF Pro Display';
    font-size: 68px;
    font-style: normal;
    font-weight: 600;
    width: 752px;
    margin-bottom: 0;
}
.blue-h1{
    color: #2886EB;
}
.h3-div-img{
    font-family: SF Pro Display;
font-size: 22px;
font-style: normal;
font-weight: 400;
width: 487px;
color: #767676;
margin-top: 35px;
margin-bottom: 0;
}
.button-div-img{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding: 10px 32px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;
border: 1.5px solid #2886EB;
background-color: #fff;
color: #2886EB;
margin-top: 55px;
cursor: pointer;
}

/* .div-img{
    display: flex;
align-items: center;
align-self: stretch;
flex-direction: row;
} */

.div-img-content{
    display: flex;
padding: 60px 0px;
flex-direction: column;
align-items: flex-start;
/* gap: 55px; */
/* flex: 1 0 0; */
align-self: stretch;
}

 .vector{
    display: flex;
width: 506px;
height: 535px;
padding: 0px 90px;
 flex-direction: column;
justify-content: center;
align-items: center; 
position: absolute;
margin-left: 650px;
}
.learning{
    display: flex;
width: 1100px;
padding: 55px 55px 0px 55px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0.04);
border-radius: 40px;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.learning-h1{
    font-family: SF Pro Display;
font-size: 44px;
font-style: normal;
font-weight: 700;
color: #222222;
width: 422px;
margin-bottom: 20;
}
.learning-h3{
    font-family: SF Pro Display;
font-size: 22px;
font-style: normal;
font-weight: 400;
color: #767676;
width: 422px;
margin-top: 0;
margin-bottom: 60px;
}
.learning-button{
    display: flex;
/* padding: 10px 32px; */
flex-direction: column;
justify-content: center;
align-items: center;
color: #FFFFFF;
background-color: #2886EB;
border-radius: 10px;
border-color: #FFFFFF;
margin-bottom: 60px;
/* width: 161px; */
font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding: 10px 32px;
cursor: pointer;
}
.learning-img{
    height: 370px;
    position: absolute;
    margin-left: 500px;
    margin-top: 35px;
}
.notes{
    display: flex;
padding: 0px 10px;
flex-direction: column;
align-items: flex-start;
gap: 25px;
margin-bottom: 300px;
}
.h2-notes{
    font-family: SF Pro Display;
font-size: 32px;
font-style: normal;
font-weight: 600;
color: #222222;
margin-bottom: 0;
}
.p-notes{
    font-family: SF Pro Display;
font-size: 17px;
font-style: normal;
font-weight: 400;
color: #222222;
width: 614px;
margin-bottom: 50px;
margin-top: 0;
line-height: 140%;
}
.note-1{
    display: flex;
padding: 25px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
flex: 1 0 0;
background-color: rgba(0, 0, 0, 0.04);
border-radius: 20px;

}
.number-note-1{
    display: flex;
width: 30px;
height: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 24px;
background-color: #2886EB;
color: #fff;
font-size: 15px;
font-family: SF Pro Display;
font-weight: 500;
margin-bottom: 0;
margin-top: 0;
}
.h3-note-1{
    font-family: SF Pro Display;
font-size: 20px;
font-style: normal;
font-weight: 600;
color: #222222;
width: 285px;
height: 50px;
margin-bottom: 0;
margin-top: 0;
}
.p-note-1{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #767676;
width: 305px;
height: 80px;
margin-top: -20px;
margin-bottom: 0;
}
.grider{
    display: grid;
    grid-template-columns: 390px 390px 390px;
    max-height: 270px;
    column-gap: 15px;
    row-gap: 15px;
}
.note-2{
    display: flex;
padding: 25px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
flex: 1 0 0;
background-color: rgba(0, 0, 0, 0.04);
border-radius: 20px;
}
.number-note-2{
    display: flex;
width: 30px;
height: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 24px;
background-color: #2886EB;
color: #fff;
font-size: 15px;
font-family: SF Pro Display;
font-weight: 500;
margin-bottom: 0;
margin-top: 0;
}
.h3-note-2{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 600;
color: #222222;
width: 285px;
height: 50px;
margin-bottom: -20px;
margin-top: 0;
}
.p-note-2{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #767676;
width: 305px;
height: 80px;
margin-top: 0px;
margin-bottom: 0;
}
.note-3{
    display: flex;
padding: 25px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
flex: 1 0 0;
background-color: rgba(0, 0, 0, 0.04);
border-radius: 20px;
}
.number-note-3{
    display: flex;
width: 30px;
height: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 24px;
background-color: #2886EB;
color: #fff;
font-size: 15px;
font-family: SF Pro Display;
font-weight: 500;
margin-bottom: 0;
margin-top: 0;
}
.h3-note-3{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 600;
color: #222222;
width: 285px;
height: 50px;
margin-bottom: -20px;
margin-top: 0;
}
.p-note-3{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #767676;
width: 305px;
height: 80px;
margin-top: 0px;
margin-bottom: 0;
}
.note-4{
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}
.number-note-4{
    display: flex;
width: 30px;
height: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 24px;
background-color: #2886EB;
color: #fff;
font-size: 15px;
font-family: SF Pro Display;
font-weight: 500;
margin-bottom: 0;
margin-top: 0;
}
.h3-note-4{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 600;
color: #222222;
width: 285px;
height: 50px;
margin-bottom: -20px;
margin-top: 0;
}
.p-note-4{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #767676;
width: 305px;
height: 80px;
margin-top: 0px;
margin-bottom: 0;
}
.note-5{
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}
.number-note-5{
display: flex;
width: 30px;
height: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 24px;
background-color: #2886EB;
color: #fff;
font-size: 15px;
font-family: SF Pro Display;
font-weight: 500;
margin-bottom: 0;
margin-top: 0;
}
.h3-note-5{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 600;
color: #222222;
width: 285px;
height: 50px;
margin-bottom: -20px;
margin-top: 0;
}
.p-note-5{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #767676;
width: 305px;
height: 80px;
margin-top: 0px;
margin-bottom: 0;
}
.note-6{
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}
.number-note-6{
    display: flex;
width: 30px;
height: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 24px;
background-color: #2886EB;
color: #fff;
font-size: 15px;
font-family: SF Pro Display;
font-weight: 500;
margin-bottom: 0;
margin-top: 0;
}
.h3-note-6{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 600;
color: #222222;
width: 285px;
height: 50px;
margin-bottom: -20px;
margin-top: 0;
}
.p-note-6{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #767676;
width: 305px;
height: 80px;
margin-top: 0px;
margin-bottom: 0;
}
.review{
    display: flex;
padding: 0px 55px;
/* align-items: center; */
gap: 10px;
align-self: stretch;
border-radius: 20px;
background: rgba(0, 0, 0, 0.04);
flex-direction: column;
max-width: 1100px;
}
.h4-review{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 600;
color: #767676;
margin: 0;
margin-top: 41px;
margin-bottom: 10px;
}
.h2-review{
    font-family: SF Pro Display;
font-size: 28px;
font-style: normal;
font-weight: 600;
color: #222222;
margin: 0;
margin-bottom: 29px;
width: 725px;
}
.p-review{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #222222;
margin: 0;
margin-bottom: 41px;
width: 725px;
}
.img-review{
    width: 355px;
height: 276px;
position: absolute;
margin-left: 750px;
margin-top: -10px;
margin-right: 50px;
}
.h2-notes2{
    font-family: SF Pro Display;
font-size: 32px;
font-style: normal;
font-weight: 600;
color: #222222;
margin-bottom: 0;
}
.img-notes2{
    display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
margin-top: 0;
padding-top: 50px;
}
.number-notes2-1{
    font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 600;
color: #2886EB;
margin-bottom: -15px;
}
.notes2-1{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 34px;
width: 258.75px;
height: 252px;
}
.number-notes2-line{
    border-bottom: 2px solid #222222;
    width: 258.75px;
    margin-top: 0;
}
.notes2-1-h2{
    font-family: SF Pro Display;
font-size: 28px;
font-style: normal;
font-weight: 700;
color: #222222;
margin-top: 0;
margin-bottom: 0;
}
.notes2-1-p{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
color: #717171;
height: 62px;
margin-top: -10px;
margin-bottom: 0;
}
.grider2{
    display: grid;
    grid-template-columns: 258.75px 258.75px 258.75px 258.75px;
    column-gap: 55px;
}
.notes2-2{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 34px;
width: 258.75px;
height: 252px;
}
.number-notes2-2{
    font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 600;
color: #2886EB;
margin-bottom: -15px;
}
.notes2-2-p{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
color: #717171;
margin-top: -10px;
}
.notes2-2-h2{
    font-family: SF Pro Display;
font-size: 28px;
font-style: normal;
font-weight: 700;
color: #222222;
margin-top: 0;
margin-bottom: 0;
}
.notes2-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    width: 258.75px;
    height: 252px;
}
.number-notes2-3{
    font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 600;
color: #2886EB;
margin-bottom: -15px;
}
.notes2-3-h2{
    font-family: SF Pro Display;
font-size: 28px;
font-style: normal;
font-weight: 700;
color: #222222;
margin-top: 0;
margin-bottom: 0;
}
.notes2-3-p{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
color: #717171;
margin-top: -10px;
}
.notes2-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    width: 258.75px;
    height: 252px;
}
.number-notes2-4{
    font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 600;
color: #2886EB;
margin-bottom: -15px;
}
.notes2-4-h2{
    font-family: SF Pro Display;
font-size: 28px;
font-style: normal;
font-weight: 700;
color: #222222;
margin-top: 0;
margin-bottom: 0;
width: 220px;
}
.notes2-4-p{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
color: #717171;
margin-top: -10px;
}
.price-div{
    display: flex;
align-items: center;
align-self: stretch;
}
.fullprice-month{
    display: flex;
padding: 40px;
flex-direction: column;
align-items: flex-start;
gap: 35px;
flex: 1 0 0;
border-radius: 20px;
background-color: #2886EB;
max-width:  530px;
}
.h1-fullprice{
    color: #FFF;
font-family: SF Pro Display;
font-size: 32px;
font-style: normal;
font-weight: 700;
width: 420px;
margin-bottom: 0;
}
.h3-fullprice{
    color: #16395F;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 600;
margin-top: -10px;
margin-bottom: 0;
}
.btn-fullprice{
    display: flex;
padding: 10px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
background-color: #fff;
border-color: #fff;
margin-top: 0;
font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 500;
color: rgba(0, 0, 0, 0.65);
cursor: pointer;
}
.h1-price-installment{
    font-family: SF Pro Display;
font-size: 32px;
font-style: normal;
font-weight: 700;
color: #222222;
margin-bottom: 0;
}
.installment-div{   
   background-color:  rgba(0, 0, 0, 0.04);
    display: flex;
padding: 40px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
flex: 1 0 0;
border-radius: 0px 25px 25px 0px;
max-height: 214px;
}
.p-price-installment{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #222222;
margin-top: 0;
}
.comments-videos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;

}
.h1-comments-videos{
    font-family: SF Pro Display;
font-size: 32px;
font-style: normal;
font-weight: 600;
color: #222222;
}
.grider3{
    display: grid;
    grid-template-columns: 288.75px 288.75px 288.75px 288.75px;
    column-gap: 15px;
    row-gap: 15px;
}
.comment1{
    display: flex;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
background-color: rgba(0, 0, 0, 0.04);
border-radius: 20px;
}
.name1{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 600;
color: #222222;
position: absolute;
margin-left: 80px;
width: 122px;
height: 24px;
margin-top: 0;
}
.date1{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
width: 122px;
height: 40px;
color: #767676;
position: absolute;
margin-left: 80px;
margin-top: 20px;
}
.comment2{
    display: flex;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
background-color: rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-height: 282px;
}
.name2{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 600;
color: #222222;
position: absolute;
margin-left: 80px;
margin-top: 0;
}
.date2{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #767676;
position: absolute;
margin-left: 80px;
margin-top: 20px;
width: 122px;
height: 40px;
}
.commented2{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #000;
margin-top: 0;
line-height: 140%;
}
.comment3{
    display: flex;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.04);
}
.name3{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 600;
color: #222222;
position: absolute;
margin-left: 80px;
margin-top: 0;

}
.date3{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #767676;
position: absolute;
margin-left: 80px;
margin-top: 20px;
width: 122px;
height: 40px;
}
.comment4{
    display: flex;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.04);
max-height: 436px;
}
.name4{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 600;
color: #222222;
position: absolute;
margin-left: 80px;
margin-top: 0;
}
.date4{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #767676;
position: absolute;
margin-left: 80px;
margin-top: 20px;
width: 122px;
height: 40px;
}
.commented4{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
margin-top: -5px;
}
.comment5{
    display: flex;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.04);
max-height: 375px;
}
.name5{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 600;
color: #222222;
position: absolute;
margin-left: 80px;
margin-top: 0;
}
.date5{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #767676;
position: absolute;
margin-left: 80px;
margin-top: 20px;
width: 122px;
height: 40px;
}
.commented5{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #000;
margin-top: 0;
margin-bottom: 0;
line-height: 140%;
}
.comment6{
    display: flex;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.04);
margin-top: -195px;
max-height: 477px;
}
.name6{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 600;
color: #222222;
position: absolute;
margin-left: 80px;
margin-top: 0;
}
.date6{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #767676;
position: absolute;
margin-left: 80px;
margin-top: 20px;
width: 122px;
height: 40px;
}
.comment7{
    display: flex;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.04);
max-height: 350px;
}
.name7{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 600;
color: #222222;
position: absolute;
margin-left: 80px;
margin-top: 0;
}
.date7{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #767676;
position: absolute;
margin-left: 80px;
margin-top: 20px;
width: 122px;
height: 40px;
}
.commented7{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
color: #000;
margin-top: 0;
}
.comment8{
    display: flex;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.04);
margin-top: -40px;
max-height: 507px;
}
.name8{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 600;
color: #222222;
position: absolute;
margin-left: 80px;
margin-top: 0;
}
.date8{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #767676;
position: absolute;
margin-left: 80px;
margin-top: 20px;
width: 122px;
height: 40px;
}
.h1-logo-footer{
    font-family: SF Pro Display;
font-size: 30px;
font-style: normal;
font-weight: 700;
color: #222222;
margin-bottom: 0;
}
.h1-logo-footer-color{
    font-family: SF Pro Display;
font-size: 30px;
font-style: normal;
font-weight: 700;
color: #2886EB;
}
.p-logo-footer{
    font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 700;
color: #222222;
margin-top: 0px;
/* position: absolute;8 */
}
/* .footerg{
    display: grid;
    grid-template-columns: 250px 125px 157px 169px 140px;
    grid-template-rows: 219px;
} */
.footer{
    display: flex;
padding: 75px 0px;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.footer-logo{
    display: flex;
width: 250px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
height: 149px;
/* padding: 75px 0px; */
}
.nav1{
    display: flex;
height: 149px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
margin-top: -45px;
margin-right: 116.33px;
}
.h3-nav1{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 700;
color: #2886EB;
margin-bottom: 0;
}
.a-nav1{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #222222;
margin-top: 0;
text-decoration: none;
}
.nav2{
    display: flex;
height: 149px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
margin-top: -45px;
margin-right: 116.33px;
}
.a-nav2{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #222222;
text-decoration: none;
margin-top: 0;
}
.h3-nav2{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 700;
color: #2886EB;
margin-bottom: 0;
}
.footer-nav{
    display: flex;
padding: 75px 0px;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.nav3{
    display: flex;
height: 149px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
margin-top: -45px;
margin-right: 116.33px;
}
.h3-nav3{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 700;
color: #2886EB;
margin-bottom: 0;
}
.a-nav3{
    font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
color: #222222;
text-decoration: none;
margin-top: 0;
}
.nav4{
    display: flex;
height: 149px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
margin-top: -45px;
}
.a-nav4{
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #222222;
    text-decoration: none;
}
.h3-nav4{
    font-family: SF Pro Display;
font-size: 19px;
font-style: normal;
font-weight: 700;
color: #2886EB;
margin-bottom: 0;
}

